<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <h3>Terms of Service</h3>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
  </p>

  <h3>Contacts</h3>
  <address>
<strong>Email:</strong> <a href="mailto:dohoavinh2@gmail.com"> dohoavinh2@gmail.com</a><br>
<strong>Phone:</strong> +84 905353579<br>
<strong>Facebook:</strong> <a href="https://www.facebook.com/5LA-POOL-871229806415622" target="_blank"> 5LA POOL</a><br>
</address>
  <p>Chat with Support</p>
  <!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="871229806415622">
</div>
</div>
